body
{
	background: url("./pictures/ssssss.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity:6px;
	
}
.img
{
	font-family: fantasy;
	padding-top:0px;
	margin-top:5px;
	font:bolder;
	font-size:6em;
	text-align: center;
	align-content: flex-start;
	display:flex;
	color:#ff8040;
	justify-content: center;
	text-overflow: clip;
}
button {
	float:  right;
	text-align: right;
}
h1#copy
{
	float:right;
	justify-content: flex-end;
	align-content: flex-end;
}